
/* This is from - coolors.co45
https://coolors.co/447604-6cc551-9ffcdf-52ad9c-47624f


    
*/

.section
{
    padding-top: 8vh;
    padding-bottom: 8vh;
}

.holdCalculator
{
    max-height: 1200px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-style:double;
}
 
#calculator_display
{
    text-align: right;
    font-size: 35px;
    padding: 24px 16px;
    height: 45px;
    line-height: 45px;
    border-style: double;
}

.calculator_buttons
{
    display: grid;
    border-left: 1px solid rgb(234, 193, 253);
    border-bottom: 1px solid rgb(234, 193, 253);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-style: double;
}

.button
{
    border: 1px solid rgb(234, 193, 253);
    line-height: 80px;
    font-family:fantasy;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    border-style:double;
}

#equal
{
    color: rgb(234, 193, 253);
    background-color: rgb(9, 102, 145);
    font-stretch: normal;
}

.button:hover
{
    background-color: #241058;
    color: rgb(234, 193, 253);
    transition: 0.25s  ease-in-out;
}

.buttonSubmit 
{
	background-color: purple;
	color: cyan;
}

.enterName 
{
	color: cyan;
	font-size: 100%;
	font-family: Georgia, serif, "Futura";
	line-height: 0px;
}

.enterPhoneNumber 
{ 
	color: cyan;
	font-size: 100%;
	font-family: Georgia, serif, "Futura";
	line-height: 0px;
}

.enterEmail 
{ 
	color: pink;
	font-size: 100%;
	font-family: Georgia, serif, "Futura";
	line-height: 0px;
}


body
{
	font-family: Cambria, Cochin, Georgia, serif, "Futura";
	color: #9FFCDF ;
	background-color: #447604;
	margin-left: 75px;
	margin-right: 75px;
}

header, footer
{
	text-align: center;
	color: #afff97;
	font-weight: bold;
}

h1, h2, h3, h4
{
	color: #afff97;
	font-family: Cambria, Cochin, Georgia, serif, "Futura";
	text-align: center;
}

h3
{
	font-size: 200%;
	line-height: 0px;
    
}

table 
{
	border-collapse: collapse;
	width: 100%;
}

tr:nth-child(even) 
{
	background-color: gray;
}

tr:nth-child(odd) 
{
	background-color: black;
	
}

a
{
	text-decoration: none;
	color: #f71735;
}

a:hover
{
	text-decoration: underline;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}

nav
{
	text-align: center;
}
