<h4>
    <a href="https://webpages.uncc.edu/jmack23/itis3135/project/index.html">Home</a>
		 || 
    <a href="https://webpages.uncc.edu/jmack23/itis3135/project/products.html">Products</a>
		 ||
    <a href="https://webpages.uncc.edu/jmack23/itis3135/project/contact.html">Contact</a>
		 ||
    <a href="https://webpages.uncc.edu/jmack23/itis3135/project/tos.html">Terms of Service</a> 
        	 ||
    <a href="https://webpages.uncc.edu/jmack23/itis3135/project/favorite_products.html">Angie's Favorites</a> 
</h4>