
body
{
	font-family: Cambria, Cochin, Georgia, serif, "Futura";
	color: #5c0050 ;
	background-color: #00ccff86;
	margin-left: 75px;
	margin-right: 75px;
}

header, footer
{
	text-align: center;
	color: #5c0050;
	font-weight: bold;
}

h1, h2, h3, h4
{
	color: #5c0050;
	font-family: Cambria, Cochin, Georgia, serif, "Futura";
	text-align: center;
}

h3
{
	font-size: 200%;
	line-height: 0px;
    
}

table 
{
	border-collapse: collapse;
	width: 100%;
}

tr:nth-child(even) 
{
	background-color: gray;
}

tr:nth-child(odd) 
{
	background-color: black;
	
}

a
{
	text-decoration: none;
	color: #f71735;
}

a:hover
{
	text-decoration: underline;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}

nav
{
	text-align: center;
}
